body {
    background: linear-gradient(cornflowerblue, slategray);
    min-height: 100vh;

    padding: 25px 15vw;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    -webkit-text-stroke: 0.08em black;
}

h1 {
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: 0.25em;
}

img {
    width: 100%;
    border-radius: 10pt;
    box-shadow: 0 0 3pt 0 black;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-text-stroke: inherit;
}

p {
    font-size: 16pt;
}

.subtitle {
    font-size: 16pt;
}

.gallery {
    position: relative;
    height: 0;

    margin: 1em 0;
    padding-bottom: 66.7%;
}

.hero {
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    
    border-radius: 100%;

    background-color: black;
    position: absolute;

    box-shadow: 0 0 5pt black;

    transform: translate(-50%, -50%);

    transition: width 0.5s, padding-bottom 0.5s, box-shadow 0.5s;

    z-index: 1;
}

.hero:hover {
    width: 40%;
    padding-bottom: 40%;

    box-shadow: 0 0 8pt 2pt black;

    z-index: 2;
}

#cat1 {
    left: 15%;;
    top: 25%;

    background-image: url(http://placekitten.com/1024/1024);
    background-size: 40vw;
    background-position: center;
}

#cat2 {
    top: 25%;
    left: 50%;

    background-image: url(http://placekitten.com/512/512);
    background-size: 40vw;
    background-position: center;
}

#cat3 {
    top: 25%;
    left: 85%;

    background-image: url(http://placekitten.com/800/800);
    background-size: 40vw;
    background-position: center;
}

#cat4 {
    left: 15%;;
    top: 75%;

    background-image: url(http://placekitten.com/1400/1400);
    background-size: 40vw;
    background-position: center;
}

#cat5 {
    top: 75%;
    left: 50%;

    background-image: url(http://placekitten.com/511/511);
    background-size: 40vw;
    background-position: center;
}

#cat6 {
    top: 75%;
    left: 85%;

    background-image: url(http://placekitten.com/2000/2000);
    background-size: 40vw;
    background-position: center;
}